@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  font-weight: normal;
}

h1 {  
  margin-bottom: 0.4em;
  font-weight: bold;
  font-size: 18px;
}

h2 {
  font-size: 12px;
}

#container {  
  margin-right: 50px;
  margin-left: 50px;
}  

#navigation {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.navigation__menulogo {  
  width: 75%;
  height: 85px;
}

.navigation__menulogo img {  
  padding-top: 20px;  
  height: 45px;
}

.navigation__menunav {
  order: 2;
}

.navigation__menunav a {
  font-size: 14px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  justify-content: center;
  text-align: center;
  padding-top: 2.3em;
  padding-left: 1em;
  padding-right: 1em;
}

.navigation__menunav a:hover {  
  border-top: 2px solid #0065FC;
  color : #0065FC;  
}

.navigation__inscription {
  order: 3;
}

.navigation__inscription--inscrire {
  text-decoration: none;
  color : #0065FC;  
  font-weight: bold;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 3em;
  order: 2;
}

#titre {
  display: flex;
  flex-direction: column;  
  margin-left: 1em;
}

#formulaire {  
  width: 100%;
}

.formulaire__form {
  display : flex;
  margin-top: 1em;
  align-items: center;
  margin-left: 1em;
}

.formulaire__label {  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
  padding: 0.7em;
} 

.formulaire__search {
  margin: -5px;  
  border: 1px solid;
  font-size: 13px;
  padding: 0.7em;
  font-weight: bold;
  border-color: #F2F2F2;
  border-style: solid;  
}

.formulaire__boutonrechercher {
  position: relative;
  font-weight: bold;
  margin: 0px;
  border-radius: 10px;
  border-width: 0px;
  padding: 0.7em;
  color: white;
  background-color: #0065FC;
  font-size: 13px;
}

.fa-search {
  background-color: transparent;
}

#filtre {  
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  flex-wrap: wrap;
  margin-left: 1em;
}

.filtre__titre {
  font-size: 15px;
  font-weight: bold;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.filtre__bouton {
  display: flex;
  box-shadow:inset 0px 0px 0px 2px #d9d9d9;  
  border-radius: 50px;
  text-align: right;
  align-items: center;
  padding-right: 15px;
  font-weight: bold;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.filtre__bouton p {
  justify-content: center;
  margin: 5px;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
  background-color: transparent;
}

.filtre__bouton--ico {
  border-radius: 50px;
  justify-content : center;
  align-items: center;
  background-color: #DEEBFF;
  color: #0065FC;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
  padding: 0.8em;
  text-align: center;
}

.filtre__bouton:hover {
  background-color: #dddde0;
}

#info {  
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.7em;
}

.info__tip {
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-size: 12px;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.info__tip--ico { 
  border-style : solid;
  border-width: 1px;   
  border-radius: 50px;
  justify-content : center;
  align-items: center;
  font-size: 14px; 
  border-color: #F2F2F2; 
  color: #0065FC;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.fa-info {  
  padding:2px;
  text-align: center;
  margin-right: 1em;
}

#hebergement {
  display: flex;
}

.hebergement__aside {  
  margin-left: 1.5em;
  flex-direction: column;
  min-width: 25%;
}

.hebergement__articlehebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding : 1em;
  border-width: 1px;
  border-radius: 1em;
  background-color: #F2F2F2;
}

.hebergement__lieu { 
  display: block;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: left;  
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
}

.hebergement__populaires--titre { 
  display: block;
  margin-top: 0.5em;
  margin-left: 0.5em;
  width: 100%;
  text-align: left;  
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
}

.hebergement__populaires {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  width: 100%;
  margin-bottom: 1em;
}

.hebergement__populaires--titre--ico {
  display: flex;
  margin-right: 0.5em;
  background-color: transparent;
}

.hebergement__vignetteblockgauche {
  display: block;
  padding: 5px;
  margin-bottom: 1em;
  border-radius: 10px;
  color: black;
  box-shadow: 1px 2px 10px #e4e2e2, -1px -1px #e4e2e2;
  text-decoration: none;
  width: 29%;
}

.hebergement__vignetteblockdroite {
  display: block;
  padding: 5px;
  margin-bottom: 1em;
  border-radius: 15px;
  color: black;
  box-shadow: 1px 2px 10px #e4e2e2, -1px -1px #e4e2e2;
  text-decoration: none;
}

.hebergement__vignetteblockgauche:hover, .hebergement__vignetteblockdroite:hover {
  opacity: 0.7;
}

.hebergement__descriptionblockgauche, .hebergement__descriptionblockdroite {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hebergement__descriptionnom, .hebergement__descriptionprix,. .hebergement__descriptionstar {
  margin-right: 5px;
}

.hebergement__vignetteblockgauche img {
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.hebergement__vignetteblockdroite {
  display: flex;
  text-align: left;
  height: 100px;
}

.hebergement__vignetteblockdroite img {  
  width: 45%;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}

.hebergement__ap {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 1.5em;
  margin-top: 0.5em;
  text-align: left;  
  font-weight: bold;
  font-size: 0.8em;
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.hebergement__descriptionnom {
  margin-top : 5px;
  margin-left : 5px;
  font-weight: bold;
  font-size: 14px;
}

.hebergement__descriptionprix {
  margin-top : 5px;
  margin-left : 5px;
  font-size: 10px;
}

.hebergement__descriptiongrow {
  flex-grow: 1;
}

.hebergement__descriptionstar {
  margin-top : 5px;
  margin-left : 5px;
  margin-bottom: 5px;
  font-size: 7px;
  color: #0065FC;
}

.hebergement__descriptionstar-off {
  color: #f2f2f2;
}

#activite {
  display: flex;
  flex-direction: column;
}

.activite__titre {
  margin-top: 2em;
  display: flex;
  width: 100%;
  text-align: left;  
  font-size: 1.3em;
  font-weight: bolder;
}

.activite__listeactivites {
  display: flex;
  flex-direction: row;
}

.activite__colonnesactivites {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex : 1 1 50%;
}

.activite__colonnesactivitesimagegauche {
  display: flex;
  flex-wrap: wrap;
}

.activite__colonnesactivitesimagedroite {    
  display: flex;  
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.activite__vignette {
  display: block;
  margin-right: 1em;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #e4e2e2, -1px -1px #e4e2e2;
}

.activite__vignette img {
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.activite__vignette a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.activite__vignette a:hover {
  opacity: 0.7;
}

.activite__vignettenom {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.2vw;
}

.vsize1 {
  height: 440px;
}

.vsize2 {
  height: 230px;
}

.vsize3 {
  height: 165px;
}

.vsize4 {
  height: 195px;
}

.vsize5 {
  height: 205px;
}

.vsize1 img {
  width: 100%;
  height: 390px;
}

.vsize2 img {
  width: 100%;
  height: 180px;
}

.vsize3 img {
  width: 100%;
  height: 115px;
}

.vsize4 img {
  width: 100%;
  height: 145px;
}

.vsize5 img {
  width: 100%;
  height: 155px;
}

#footer {  
  background-color: #F2F2F2;
  width: 100%;
  padding-bottom: 2em;
}

.footer__footermenu {
  display: flex;
  margin-top: 3em;  
  margin-right: 50px;
  margin-left: 50px;
  background-color: #F2F2F2;
}

.footer__block {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
}

.footer__footertitre {
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-weight:bold;
  background-color: #F2F2F2;
}

.footer__footernav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer__footernav ul li {
  text-align: left;
  background-color: #F2F2F2;
}

.footer__footernav a {
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  color: black;
  background-color: #F2F2F2;
  margin-bottom: 1em;
}

.footer__footernav a:hover {    
  color : #0065FC;
}

@media (max-width: 576px) { 
  #container {  
    margin-right: 10px;
    margin-left: 10px;
  }  
  
  h1 {  
    margin-bottom: 0.4em;
    font-weight: bold;
    margin-left: 15px;
    font-size: 24px;
  }

  h2 {    
    font-size: 16px;
    margin-left: 15px;
  }

  #navigation {    
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .navigation__menulogo {    
    height: unset;    
    width: 30%;
  }
  
  .navigation__menunav {
    display: flex;
    order: 3;
    width: 100%;
  }

  .navigation__menunav a {
    padding: unset;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
  }

  .navigation__menunav a:hover {
    border-top: unset;
    border-bottom: 2px solid #0065FC;
    color : #0065FC;
  }

  .navigation__inscription {
    order: 2;    
    margin-top: 1.3em;
    margin-right: 1em;
  }

  .navigation__inscription--inscrire {
    padding: unset;
  }  

  #titre {
    margin-left: 0;
  }

  .formulaire__form {
    justify-content:space-evenly;
    align-items: center;
  }

  .formulaire__search {
    width: 100%;
  }

  #filtre {
    flex-wrap: wrap;
    margin-left: 10px;
  }
  
  .filtre__titre {
    width: 100%;
    margin-bottom: 0.7em;
    margin-left: 0.2em;
  }

  .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    padding: 0.8em;
    text-align: center;
  }

  #info, .info__tip {
    margin-bottom: 0;
  }
  
  #hebergement {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .hebergement__articlehebergement {
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    margin-top: 1em;
  }

  .hebergement__populaires {
    margin-bottom: 0em;
  }

  .hebergement__populaires--titre {    
    display: block;
    margin: 0em;
    margin-top: 1.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    text-align: left;  
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
  }

  .hebergement__populaires--ico {    
    margin-top: 0.8em;
    margin-right: 0.8em;
  }  
  
  .hebergement__descriptionblockgauche {    
    margin-bottom: 0.2em;
  }

  .hebergement__descriptionblockdroite {    
    margin-bottom: 0.2em;
  }

  .hebergement__vignetteblockgauche {
    width: 96%;
    padding: 0px;
    margin: 0;
    margin-left: 2%;
    margin-bottom: 1em;
  }

  .hebergement__vignetteblockdroite {
    width: 93%;
    padding-right: 5px;
    margin: 0;
    margin-left: 2%;
    margin-bottom: 1em;
  }

  .hebergement__ap {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .activite__titre {
    margin-bottom: 1em;
  }
  
  .activite__listeactivites {
    flex-direction: column;
    justify-content: center;
  }

  .activite__colonnesactivites {    
    width: 100%;
  }

  .activite__colonnesactivitesimagegauche {
    width: 100%;
  }

  .activite__vignettenom {
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 4vw;
  }

  .activite__vignette {
    display: flex;    
    margin-top: 0.2em;
    margin-right: 0;
    border-radius: 10px;
    color: black;
    background-color: white;  
    box-shadow: 1px 2px 10px #e4e2e2, -1px -1px #e4e2e2;
    height: 180px;
  }

  .activite__vignette a {
    width: 100%;
    border-radius: 50px;
  }

  .vsize1 {
    width: inherit;
  }

  .vsize1 img, .vsize2 img, .vsize3 img, .vsize4 img, .vsize5 img {  
    height: 130px;
  }

  .vsize1, .vsize2, .vsize3, .vsize4, .vsize5 {
    margin-bottom: 10px;
  }

  .footer__footermenu {
    flex-direction: column;
    margin-top: 1em;
    margin-left: 1em;
  }
  
  .footer__footertitre {
    margin-top: 2em;
  }

}

@media (min-width: 576px) {
  
.formulaire__boutonrechercher::after {  
  position: absolute;
  content: "Rechercher";
  top: 0px;
  left: 0;
  font-weight: bold;
  margin: 0px;
  border-radius: 0 10px 10px 0;
  padding: 0.7em;
  color: white;
  background-color: #0065FC;
  font-size: 13px;
  }  
}