@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  background-color: white;
  font-weight: normal;
}

section {
  display: flex;
}

#container {  
  margin-right: 50px;
  margin-left: 50px;
}  

#navigation {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  position: relative;
  height: 45px;
  margin-left: -0.2em;
}

.menunav{
  display: flex;  
  justify-content: flex-end;
  width: 100%;  
  height: 85px;
  top: 0px;
}

.menunav ul{
  list-style-type: none;
  display: flex;
}

.menunav ul li{  
  text-align: center;
}

.menunav a{
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 3em;
}

.menunav a:hover{  
  border-top: 2px solid #0065FC;
  color : #0065FC;
}

.menunav li:nth-of-type(3) a {  
  color : #0065FC;  
  font-weight: bold;
}

.inscrire {
  order: 1;
}


#titre {
  display: flex;
  flex-direction: column;
}

h1 {  
  margin-bottom: 0.4em;
  font-weight: bold;
  font-size: 14px;
}

h2 {
  font-size: 10px;
}

h3 {  
  font-size: 10px;
}

h4 {
  margin: 1em 0em 1em 1em;  
  text-align: left;  
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
}

#form {
  display : flex;
  margin-top: 1em;
  height: 30px;
  align-items: center;
}

.titref {
  font-size: 12px;
  font-weight: bold;
  margin-right: 1em;
}

.label {  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 10px 0 0 10px;  
  border-style : solid;
  border-width: 1px;  
  height: 28px;
  width: 30px;
  font-size: 12px;
  border-color: #f2f2f2;
} 

input[type=search] {
  margin: -5px;
  height: 30px;  
  border: 1px solid;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
  border-color: #f2f2f2;
}

input[type=submit] {
  font-weight: bold;
  margin: 0px;
  border-radius: 0 10px 10px 0;
  height: 30px;
  border-width: 0px;
  padding: 7px;;
  color: white;
  background-color: #0065FC;
  font-size: 10px;
  width: 80px;
}

#filtre {  
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.bfiltre {
  display: flex;
  border-style : solid;
  border-width: 2px; 
  border-radius: 50px;
  justify-content : flex-end;
  align-items: center;
  padding-right: 15px;
  font-weight: bold;
  font-size: 12px;
  border-color: #f2f2f2;
}

.ico {
  display: flex;  
  border-radius: 50px;
  width: 30px;
  height: 30px;
  z-index: 1;
  justify-content : center;
  align-items: center;
  margin-left : 10px;
  margin-right: -25px;
  font-size: 10px;
  background-color: #DEEBFF;
  color: #0065FC;
}

.filtre-eco {  
  width: 105px;
  height: 30px;  
}

.filtre-eco:hover{
  background-color: #f2f2f2;
}

.filtre-fam {
  width: 75px;
  height: 30px;
}

.filtre-fam:hover{
  background-color: #f2f2f2;
}

.filtre-rom {
  width: 100px;
  height: 30px;  
}

.filtre-rom:hover{
  background-color: #f2f2f2;
}

.filtre-ani {
  height: 30px;  
  width: 135px;  
}

.filtre-ani:hover{
  background-color: #f2f2f2;
}

#info {  
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.info-ico {  
  display: flex;  
  align-items: center;
  justify-content : center;
  border-style : solid;
  border-width: 1px; 
  border-radius: 50px;
  width: 15px;
  height: 15px;
  font-size: 7px;
  color: #0065FC;
  border-color: #f2f2f2;
}

.articlehebergement {
  display: flex;
  padding : 1em;
  border-style : solid;
  border-width: 1px;
  border-radius: 1em;
  text-align: center;
  background-color: #F2F2F2;
  border-color: #f2f2f2;
}

article:nth-of-type(1) {  
  flex: auto;  
  flex-wrap: wrap;
  margin-right: 45px;;
}

article:nth-of-type(2) {    
  flex-direction: column;
}


.tlabel {
  margin: 0.5em 0em 0.5em 1em;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;  
  font-size: 1.3em;
  font-weight: bold;
  background-color: transparent;
}

.ap {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;  
  font-weight: bold;
  background-color: transparent;
}

.pop {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.tlabel-ico {
  display: flex;
  margin-right: 0.5em;
  background-color: transparent;
}

.image, .imageright {
  display: block;
  padding: 5px;
  margin: 0.5em;
  border-radius: 10px;
  color: black;
  background-color: white;  
  box-shadow: 1px 2px 10px #e4e2e2, -1px -1px #e4e2e2;
  text-decoration: none;
}

.image:hover, .imageright:hover {
  background-color: #F2F2F2;
}

.imagel {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 5px;
  height: 75px;
}

.imager {
  display: flex;
  flex-direction: column;  
  text-align: left;
  border-radius: 5px;
  margin-left : 5px;
  width: 215px;
}

.image img {  
  width: 235px;
  height: 115px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.nom {
  margin-top : 5px;
  margin-left : 5px;
  font-weight: bold;
  font-size: 12px;
}

.prix {
  margin-top : 5px;
  margin-left : 5px;
  font-size: 10px;
}

.star {
  margin-top : 5px;
  margin-left : 5px;
  font-size: 7px;
  color: #0065FC;
}

.star-off {
  color: #f2f2f2;
}

.imager .star {
  margin-top: 15px;
}

.imageright {
  display: flex;  
  width: 345px;
  text-align: left;
}

.imageright img {  
  width: 125px;
  height: 130px;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}

#activites {
  display: flex;  
}

.actilabel {
  margin-top: 2em;
  display: flex;
  width: 100%;
  text-align: left;  
  font-size: 1.3em;
  font-weight: bolder;
}

.blocactivites {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blocactivitesimagegauche {      
  display: flex;
  flex-wrap: wrap;
}

.blocactivitesimagedroite {    
  display: flex;  
  flex-wrap: wrap;
  flex-direction: column;
}

.vignette {
  display: flex;
  margin-right: 1em;
  margin-top: 1em;
  border-radius: 10px;
  color: black;
  background-color: white;  
  box-shadow: 1px 2px 10px #e4e2e2, -1px -1px #e4e2e2;
}

.vignette a {
  text-decoration: none;
  color: black;  
}

.vignette a:hover, .vignettelien:hover  {
  opacity: 0.7;
}

.vignettelien:hover  {
  color: #8d8c8c;
}

.vsize1 {
  height: 440px;  
  border-radius: 10px;
}

.vsize2 {
  height: 230px;
  margin-bottom: 30px;
}

.vsize3 {
  height: 165px;
}

.vsize4 {
  height: 195px;
  margin-bottom: 25px;
}

.vsize5 {
  height: 205px;
}

.vsize1 img {
  width: 100%;
  height: 390px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.vsize2 img {
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.vsize3 img {
  width: 100%;
  height: 115px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.vsize4 img {
  width: 100%;
  height: 145px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.vsize5 img {
  width: 100%;
  height: 155px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.vignettelabel {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 1vw;
}

.footer {  
  background-color: #F2F2F2;
  width: 100%;
}

.footermenu {
  display: flex;
  margin-top: 4em;  
  margin-right: 50px;
  margin-left: 50px;
  background-color: #F2F2F2;
}

.footerblock {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
}

.footertitre {
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-weight:bold;
  background-color: #F2F2F2;
}

.footernav {
  margin-bottom: 2em;
}

.footernav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footernav ul li{
  text-align: left;
  background-color: #F2F2F2;
}

.footernav a{
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  color: black;
  background-color: #F2F2F2;
  margin-bottom: 1em;
}

.footernav a:hover{    
  color : #0065FC;
}
